<h1>Words List</h1>
<div class="words">
  <% @words.each do |word| %>
  <p><a href="/words/<%= word %>"><%= word %></a></p>
  <% end %>
</div>

<form action="/" method="post">
  <div class="form-group">
    <label for="word">Please enter a word.</label>
    <input type="text" name="word" class="form-control">
  </div>
  <button type="submit" class="btn">Add</button>
</form>
